@import '../design-system/src/tokens.css';
@import '../design-system/src/utilities.css';
@import '../design-system/src/components/Card/Card.css';
@import '../design-system/src/components/FormField/FormField.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
